@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "MoonFlower";
  src: url("/assets/fonts/MoonFlowerBold.ttf");
}
html {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}
body {
  margin: 0;
  background: #23074d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #cc5333, #05065f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #cc5333, #05065f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Roboto !important;
}
.my-container {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-top: 2rem;
}
@media only screen and (max-width: 768px) {
  .my-container {
    border-radius: 0px;
    margin-top: 0;
    padding: 0;
  }
  h1 {
    font-size: 2rem !important;
  }
  h2 {
    font-size: 1.5rem !important;
  }
}
.about {
  text-align: center;
}
.about table tr th {
  font-weight: normal;
  padding-left: 1rem;
}
.about img {
  max-width: 100%;
  height: auto;
}
.game {
  border: 2px solid black;
  font-family: Moonflower;
  font-size: 2rem;
  line-height: normal;
}
.board {
  display: flex;
  flex-direction: column;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.board .board-row {
  display: flex;
}
.board .board-tile {
  width: 5vw;
  height: 5vh;
  max-width: 60px;
  max-height: 60px;
  border: 1px solid black;
  flex: 1;
  text-align: -webkit-center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.board .board-tile.S {
  background-image: url("/assets/images/board/sand.png");
}
.board .board-tile.B {
  background-image: url("/assets/images/board/house.png");
}
.board .board-tile.P {
  background-image: url("/assets/images/board/palm.png");
}
.board .board-tile.M {
  background-image: url("/assets/images/board/gold.png");
}
.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: darkgray;
  background-image: url("/assets/images/wood.png");
  background-image: url(/assets/images/wood.png);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.panel button {
  border: 1px solid black;
  width: 80%;
  font-family: 'MoonFlower';
  font-size: 36px;
  line-height: normal;
  color: black;
}
.panel-child {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  background: lightgray;
}
.panel-info {
  text-align: center;
}
.panel-info button {
  width: 100%;
}
.panel-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panel-shop .shop-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1rem;
  text-align: end;
}
.panel-shop .shop-item.Knight {
  background-image: url("/assets/images/sword.png");
}
.panel-shop .shop-item.Archer {
  background-image: url("/assets/images/bow.png");
}
.panel-shop .shop-item.Tank {
  background-image: url("/assets/images/shield.png");
}
.panel-buttons {
  display: flex;
  justify-content: center;
}
#idLogo {
  border: 3px solid lightgrey;
  border-radius: 13px;
}
#idTitle {
  font-family: MoonFlower;
  line-height: normal;
  font-size: 3rem;
}
#idNavbarBrand {
  display: flex;
  align-items: center;
}
