@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.tff");
}
body {
  background: #23074d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #cc5333, #23074d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #cc5333, #23074d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
}
.menubar {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menubar img {
  height: inherit;
  border: 2px solid white;
  border-radius: 10px;
}
.menubar .menubar-linkcontainer {
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: row;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
}
.menubar .menubar-link {
  padding: 0 2rem 0rem 2rem;
  transition-duration: 0.6s;
  color: black;
}
.menubar .menubar-link:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.menubar .menubar-link:hover a {
  color: white;
}
.menubar .menubar-link:last-child {
  border-radius: 0 10px 10px 0;
}
.menubar a {
  font-size: 2rem;
  color: black;
  text-decoration: none;
}
.about {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  padding: 1rem;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about table tr th {
  font-weight: normal;
  padding-left: 1rem;
}
.gamecontainer {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vh;
}
.player {
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.board {
  border: 2px solid black;
}
.board .board-row {
  display: flex;
}
.board .board-tile {
  width: 4vh;
  height: 4vh;
  border: 1px solid black;
  flex: 1;
  text-align: -webkit-center;
  background-size: contain;
}
.board .board-tile.S {
  background-image: url("/assets/images/sand_60.png");
}
.board .board-tile.B {
  background-image: url("/assets/images/house_60.png");
}
.board .board-tile.P {
  background-image: url("/assets/images/palm_60.png");
}
.board .board-tile.M {
  background-image: url("/assets/images/gold_60.png");
}
.shop {
  width: 90%;
}
.shop .shop-row {
  display: flex;
}
.shop .shop-row.header {
  font-weight: bold;
}
.shop .shop-cell {
  text-align: center;
  flex: 1;
}
