@png-background: url("/assets/images/background.png");
@png-sand: url("/assets/images/board/sand.png");
@png-colloseum: url("/assets/images/board/colloseum.png");
@png-temple: url("/assets/images/board/temple.png");
@png-palm: url("/assets/images/board/palm.png");
@png-gold: url("/assets/images/board/gold.png");
@png-sword: url("/assets/images/gladiators/sword.png");  
@png-bow: url("/assets/images/gladiators/bow.png");  
@png-shield: url("/assets/images/gladiators/shield.png");  
@png-shield-transparent: url("/assets/images/shield_transparent.png");  

// Layout
.row {
    width: 100%; 
}

// Game
.game {
    font-family: Moonflower;
    font-size: 2rem;
    line-height: normal;
    background-image: url(/assets/images/sand.png);
    &.blurred {
        filter: blur(3px);
    }
}

// Board
.board {
    display: flex;
    flex-direction: column;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: 2px solid black;
    position: relative;
    filter: drop-shadow(0px 0px 9px black);
    .board-row {
        display: flex;
    }
    .board-tile {
        height: 5vh;
        max-width: 60px;
        max-height: 60px;
        border: 1px solid black;
        flex: 1;
        text-align: -webkit-center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.5s;
        display: flex;
        &.tile-Sand {
            background-image: @png-sand;
        }
        &.tile-Base1 {
            background-image: @png-colloseum;
        }
        &.tile-Base2 {
            background-image: @png-temple;
        }
        &.tile-Palm {
            background-image: @png-palm;
        }
        &.tile-Mine {
            background-image: @png-gold;
        }
        &:hover {
            box-shadow: inset 0px 0px 0px 36px rgba(255, 255, 255, .5);
        }
        &.move-range {
            box-shadow: inset 0px 0px 0px 36px rgba(8, 206, 50, 0.2);
        }
        &.attack-range {
            animation: blinker 1s linear infinite;
        }
    }
}

//Gladiator
.gladiator {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    &.glad-Tank {
        background-image: @png-shield;
    }
    &.glad-Knight {
        background-image: @png-sword;
    }
    &.glad-Archer {
        background-image: @png-bow;
    }
    &.glad-player1 {
        filter: invert(13%) sepia(95%) saturate(3384%) hue-rotate(240deg) brightness(91%) contrast(88%);
    }
    &.glad-player2 {
        filter: invert(47%) sepia(32%) saturate(4586%) hue-rotate(340deg) brightness(81%) contrast(88%);
    }
    &.active {  
        animation: perspect 1s infinite linear 
    }
    &.attacked {
        animation: attacked 0.2s infinite ease-out;
    }
    &.shake {
        animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    }
}
.healthbar {
    height: 18%;
    border-radius: 5px;
    border: 1px solid darkslategray;
    display: flex;
    width: 90%;
    .healthbar-inside {
        border-radius: 5px;
        background: green;
        height: 100%;
        transition: 1s ease-out;
        filter: brightness(0.7);
    }
}

// PlayerInfo GladiatorInfo
.playerinfo, .gladiatorinfo {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    background-color: ivory;
    box-shadow: @default-boxshadow;
    position: relative;
    display: flex;
    flex-direction: column;
    .playerinfo-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &.active {
        animation: pulse 1s linear infinite;
        &.player1 {
            border: 2px solid #2525b5;
        }
        &.player2 {
            border: 2px solid #f13737;;
        }
    }
}
.playerinfo {
    padding: 1rem;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.turnbutton.btn {
    background: #d3b0a8;
    background-position: center;
    background-size: contain;
    background-color: #d89755;
    background-image: @png-shield-transparent;
    animation: animatedBackground 30s linear infinite;
    &:disabled {
        opacity: 1;
        cursor: default;
    }
    &.button-turn {
        background: #28a745;
    }
    &.button-spec {
        background-size: auto;
    }
}

.gladiatorinfo-image {
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    &.glad-Tank {
        background-image: @png-shield;
    }
    &.glad-Knight {
        background-image: @png-sword;
    }
    &.glad-Archer {
        background-image: @png-bow;
    }
}

// Panel
.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    >:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.panel-gladiator,
.panel-shop,
.panel-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Gladiator 
.gladiatorinfo {
    width: 100%;
}

// Shop
.panel-shop {
    .shop-item {
        margin-top: 1rem;
        text-align: end;
        position: relative;
        background-color: #f6c663;
        &.glad-Knight .layer{
            background-image: @png-sword;
        }
        &.glad-Archer .layer {
            background-image: @png-bow;
        }
        &.glad-Tank .layer {
            background-image: @png-shield;
        }
        &:hover {
            background-color: #8c6413;
            .layer {
                -webkit-filter: grayscale(1) invert(.8);
                filter: grayscale(1) invert(.8);
            }
        }
        .layer {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.board-tiles {
    min-height: 70vh;
    border: 2px solid black;
    position: relative;
    display: grid;
    position: relative;
    grid-gap: 0;
    grid-template-columns: repeat(15, auto);
    grid-template-rows: repeat(15, auto);
    grid-auto-flow: row;
    gap: 1px;
    height: 100%;
    width: 100%;
}