@import de.htwg.se.gladiators.util.Coordinate
@(controller:de.htwg.se.gladiators.controller.BaseImplementation.Controller)
@gladiators = @{ controller.playerOne.get.gladiators ++ controller.playerTwo.get.gladiators}
@shop = @{controller.shop}

@main("Gladiators") {
    @modal()
    <div class="container my-container game">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-2 panel">
                <div class="panel-player">
                    Player 2
                    <div class="playerinfo player2">
                        <div class="playerinfo-row">
                            <div>Name:</div>
                            <div id="idPlayer2Name">
                                @{if (controller.playerTwo) {
                                    controller.playerTwo.get.name
                                } else {
                                    "-"
                                }
                            }</div>
                        </div>
                        <div class="playerinfo-row">
                            <div>Base:</div>
                            <div id="idPlayer2Health">
                                @{if (controller.playerTwo) {
                                    controller.playerTwo.get.health
                                } else {
                                    "-"
                                }
                            }</div>
                        </div>
                        <div class="playerinfo-row">
                            <div>Credits:</div>
                            <div id="idPlayer2Credits">
                                @{if (controller.playerTwo) {
                                    controller.playerTwo.get.credits
                                } else {
                                    "-"
                                }
                            }</div>
                        </div> 
                    </div>
                </div>

                <div class="panel-buttons">
                    <button disabled id="idTurnButton" type="button" class="btn btn-rounded turnbutton" onclick="onClickEndTurn()">
                        Lobby
                        <span class="turnbutton-png"></span>
                    </button>
                </div>

                <div class="panel-player">
                    Player 1
                    <div class="playerinfo player1">
                        <div class="playerinfo-row">
                            <div>Name:</div>
                            <div id="idPlayer1Name">
                                @{if (controller.playerOne) {
                                    controller.playerOne.get.name
                                } else {
                                    "-"
                                }
                            }</div>
                        </div>
                        <div class="playerinfo-row">
                            <div>Base:</div>
                            <div id="idPlayer1Health">
                                @{if (controller.playerOne) {
                                    controller.playerOne.get.health
                                } else {
                                    "-"
                                }
                            }</div>
                        </div>
                        <div class="playerinfo-row">
                            <div>Credits:</div>
                            <div id="idPlayer1Credits">
                                @{if (controller.playerOne) {
                                    controller.playerOne.get.credits
                                } else {
                                    "-"
                                }
                            }</div>
                        </div>   
                    </div>
                </div>
            </div>
            <div id="idBoard" class="col-xs-12 col-sm-12 col-lg-8 board">
                @for(y <- 0 until controller.board.tiles.size) {
                    <div class="board-row">
                    @for(x <- 0 until controller.board.tiles.size) {
                        <div class="board-tile"
                            id="idTileX@{x}Y@{y}"
                            x=@{x}
                            y=@{y}
                            onclick="onClickTile(this)">
                        </div>
                    }
                    </div>
                }
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-2 panel">
                <div class="panel-gladiator">
                    Gladiator
                    <div class="gladiatorinfo">
                        <div class="gladiatorinfo-image"></div>
                        <div>AP: <span id="idGladiatorAP">-</span></div>
                        <div>HP: <span id="idGladiatorHP">-</span></div>
                        <div>MP: <span id="idGladiatorMP">-</span></div>
                    </div>
                </div>
                <div class="panel-shop">
                    Shop
                    @for(i <- 0 until shop.stock.length) {
                        <button class="btn btn-outline-dark shop-item"
                            onmouseenter="showGladiatorStats(event)"
                            onclick="onClickShopItem(this)"
                            index=@{i}>
                            <span></span>
                            <div class="layer"></div>
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
}
