@import de.htwg.se.gladiators.util.Coordinate
@(controller:de.htwg.se.gladiators.controller.BaseImplementation.Controller)
@gladiators = @{ controller.playerOne.get.gladiators ++ controller.playerTwo.get.gladiators}
@shop = @{controller.shop}

@main("Gladiators") {
    @navbar()
    <div class="container my-container">
        
        <div class="row">
            
            <div class="col-lg board">
                @for(x <- 0 until controller.board.tiles.size) {
                    <div class="board-row">
                    @for(y <- 0 until controller.board.tiles.size) {
                        <span class="board-tile @{controller.board.tiles(x)(y).stringRepresentation(controller.board.gladiatorAtPosition(gladiators, Coordinate(x, y)))}">
                            <!-- @{controller.board.tiles(x)(y).stringRepresentation(controller.board.gladiatorAtPosition(gladiators, Coordinate(x, y)))} <-->
                        </span>
                    }
                    </div>
                }
            </div>
            <div class="col-sm panel">
                <div class="panel-info">
                    <button type="button" class="btn btn-primary btn-rounded">End Turn</button>
                    <div>Player: @{controller.currentPlayer.get.name}</div>
                    <div>Credits: @{controller.currentPlayer.get.credits}</div>
                </div>
               
                <div class="row shop">
                    @for(i <- 0 until shop.stock.length) {
                        <div class="shop-item @{shop.stock(i).gladiatorType}">
                            <span class="shop-cell">$@{shop.stock(i).calculateCost.toString}</span>
                        </div>
                    }
                </div>
            </div>
            <!--
            <div class="shop">
                <div class="shop-row header">
                    <span class="shop-cell">Type</span>
                    <span class="shop-cell">Attack</span>
                    <span class="shop-cell">Movement</span>
                    <span class="shop-cell">Health</span>
                    <span class="shop-cell">Cost</span>
                </div>
                
                @for(i <- 0 until shop.stock.length) {
                    <div class=shop-row>
                        <span class="shop-cell">@{shop.stock(i).gladiatorType}</span>
                        <span class="shop-cell">@{shop.stock(i).attackPoints}</span>
                        <span class="shop-cell">@{shop.stock(i).movementPoints.toString}</span>
                        <span class="shop-cell">@{shop.stock(i).healthPoints.toString}</span>
                        <span class="shop-cell">@{shop.stock(i).calculateCost.toString}</span>
                    </div>
                }
            </div>
            -->
            
        </div>
        
    </div>
}

