@import de.htwg.se.gladiators.util.Coordinate
@(controller:de.htwg.se.gladiators.controller.BaseImplementation.Controller)
@gladiators = @{ controller.playerOne.get.gladiators ++ controller.playerTwo.get.gladiators}
@shop = @{controller.shop}

@main("Gladiators") {
    @navbar()
    <div class="container my-container game">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-2 panel">
                <div class="panel-player">
                    Player
                    <div class="playerinfo">
                        Name: @{controller.playerOne.get.name}
                        Credits: @{controller.playerOne.get.credits}
                     </div>   
                     <div class="playerinfo">
                        Name: @{controller.playerTwo.get.name}
                        Credits: @{controller.playerTwo.get.credits}
                     </div>
                </div>
                
                 <div class="panel-buttons">
                    <button type="button" class="btn btn-success btn-rounded" onclick="onClickEndTurn()">End Turn</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-8 board">
                @for(y <- 0 until controller.board.tiles.size) {
                    <div class="board-row">
                    @for(x <- 0 until controller.board.tiles.size) {
                        <div class="board-tile @{controller.board.tiles(y)(x).stringRepresentation(controller.board.gladiatorAtPosition(gladiators, Coordinate(x, y)))}"
                            x=@{x}
                            y=@{y}
                            gladiator="@{controller.board.gladiatorAtPosition(gladiators, Coordinate(x, y))}"
                            onclick="onClickTile(this)">
                            <div class="overlay"></div>
                        </div>
                    }
                    </div>
                }
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-2 panel">
                <div class="panel-gladiator">
                    Gladiator 
                    <div class="gladiatorinfo">
                        <div>AP: 45</div>
                        <div>MP: 3</div>
                        <div>HP: 76</div>
                    </div>
                </div>
                <div class="panel-shop">
                    Shop
                    @for(i <- 0 until shop.stock.length) {
                        <button class="btn btn-outline-dark shop-item @{shop.stock(i).gladiatorType}"
                            onclick="onClickShopItem(this)"
                            index=@{i + 1}>
                            $@{shop.stock(i).calculateCost.toString}
                            <div class="layer"></div>
                            <!--
                                <span class="shop-cell">@{shop.stock(i).gladiatorType}</span>
                                <span class="shop-cell">@{shop.stock(i).attackPoints}</span>
                                <span class="shop-cell">@{shop.stock(i).movementPoints.toString}</span>
                                <span class="shop-cell">@{shop.stock(i).healthPoints.toString}</span>
                            -->
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
}

